@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/View.cshtml";
}
@using WebMVC.Models
@model WebMVC.Models.HomeView

</div> <!-- End slider area -->
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                      
                        @foreach (var item in Model.listsp)
                        {
                              <!-- items -->
                                <div class="single-product">
                                    <div class="product-f-image">
                                        
                                   
                                        <img src="@item.ANHBIA" />
                                        <div class="product-hover">
                                            <a id="@item.ID" name="btncart" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="ProductDetail/@item.ID" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="single-product.html">@item.TENSP</a></h2>
                                    @{
                                         int gia = (int)(item.GIA - item.GIA * item.SALE / 100);
                                    }
                                    <div class="product-carousel-price">
                                        <span><ins> $@item.GIA</ins> <del>$@gia </del></span> 
                                    </div>
                                </div>
                                <!--   end item -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
